---
import type { AgendaPointType } from "../content/config";

const props = Astro.props;
const data = props.data as AgendaPointType;
const { Content } = await props.render();
---

<div class="grid w-11/12 grid-cols-7 px-3">
    <div class="col-span-2">
        <b class="inline-flex font-semibold"
            >{data.time} Uhr <span class="hidden font-medium opacity-60 lg:block">&nbsp;-&nbsp;{data.date}</span></b
        >
        <a href={`/agenda/${props.slug}`} class="hidden lg:block">
            {data.title}
        </a>
    </div>
    <a href={`/agenda/${props.slug}`} class="col-span-5 border-l-2 border-stone-700 pl-2 text-start">
        <b class="block font-semibold lg:hidden">
            {data.title}
        </b>
        <div class="max-h-24 overflow-y-hidden">
            <Content />
        </div>
        <p>...</p>
    </a>
</div>
